<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Host for instrumented Compose tests (T-003); debug builds only. -->
        <activity
            android:name=".HiltTestActivity"
            android:exported="false" />
    </application>
</manifest>
